

.tb {
    background-color: #04AA6D;
    color: white;

}
.trr{
    color: #04AA6D;
    font-weight: bold;
    background-color: #f2f2f2;

}
table{
    border-collapse: collapse;
margin-top: 9rem;


}

.table{
    background-color: white;
    display: grid;
    justify-content: center;

}
th, td{
    padding: 2rem;
}
.last{
    border-bottom: 0.2rem solid #04AA6D;
}
